.lottobox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lottonum {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid #F2B720;
  background-color: #F2B720;
  border-radius: 50%;
}
.lottonum1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid #F2B720;
  background-color: #F2B720;
  border-radius: 50%;
}
.lottonum2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid #095585;
  background-color: #095585;
  border-radius: 50%;
}

.lottonum3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid #DE4C0E;
  background-color: #DE4C0E;
  border-radius: 50%;
}

.lottonum4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid #51575B;
  background-color: #51575B;
  border-radius: 50%;
}

.lottonum5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid #0F983C;
  background-color: #0F983C;
  border-radius: 50%;
}
